/* CSS Document */
a
{
	text-decoration: none !important;
}
.bg-cover
{
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.bg-contain
{
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
}

.info-contacto,
.info-contacto-whatsapp
{
	margin-top: 22px;
    margin-bottom: 22px;	
}
.info-contacto *
{
	color: #033772 !important;
	font-size: 24px;	
}
.info-contacto.direccion *
{
	font-size: 18px;
}
.info-contacto span
{
	font-weight: 600;
	margin-left: 10px;
}
.info-contacto-whatsapp a
{
	padding: 5px 15px;
	border-radius: 5px;
	background: #25d366;
	color: #FFF;
	font-size: 22px;
}
.tp-caption.ExtraLargeTitle span,
.tp-caption.LargeTitle span
{
	color: #FFF !important;
}
.logo
{
	margin-top: 10px;
    margin-bottom: 10px;
	max-width: 74px;
}
.header-container
{
	border-top: 4px solid #04a8e9 !important;
	background: #FFF !important;	
}
.search-box form
{
	border: 1px solid #e0bc27;
}
.search-btn-bg
{
	height: 37px;
}
.contacts-info .fa
{
    display: inline	
}
.contacts-info .fa:before
{
    font-size: 15px;
    color: #fff;
    height: 35px;
    width: 35px;
    line-height: 32px;
    display: inline-block;
    float: left;
    font-style: normal;
    text-align: center;
    margin-right: 10px;
    border-radius: 30px;
    border: 1px solid #111;
    border-radius: 25px;
    background: #222;	
}
.contacts-info .fa+span
{
	display: inlin
}
.footer-middle .col-md-6
{
    margin: auto;
    padding: 35px 20px;
    overflow: hidden;	
}
.footer-middle p
{
    color: #999;
    margin: 10px 0px;
    font-weight: 300;
    font-size: 15px;	
}
.blog_entry .btn {
	margin-top: 15px;
    background: #fff;
    padding: 8px 12px;
    text-transform: uppercase;
    color: #333;
    border: 1px solid #d1d1d1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    border-radius: 2px;
    letter-spacing: 1px;
}
.btn-whatsapp
{
	background: #25d366;
	font-size: 16px;
    text-shadow: none;
    padding: 7px 20px;
    margin-left: 12px;
    border: none;
    height: 40px;
	color: #FFF;
}
.btn-whatsapp i
{
	margin-right: 15px;
    font-size: 25px;
    vertical-align: middle;
}
.btn-whatsapp:hover
{
	color: #FFF;
	background: #075e54;
}
.group-select input,
.group-select select,
.group-select textarea
{
	border-color: #ddd !important;
}
.group-select select
{
	width: 100% !important;
	max-width: 100% !important;
}
.mapa iframe
{
	width: 100%;
	height: 350px;
}
.info-contactenos h4,
.info-contactenos ol li
{
	color: #000 !important;
}
.terminos_de_busqueda ,
.terminos_de_busqueda li
{
	padding: 0px;
	list-style: none;
}
.terminos_de_busqueda li
{
	display: inline-block;
	margin-right: 6px;
}
.terminos_de_busqueda li a
{
	padding: 2px 4px;
	border-radius: 4px;
	background: #A7A7A7;
	color: #fff;
}
.badge.out-stock
{
    background-color: red;
    margin: 6px 0px;	
}
.badge.stock
{
    background-color: green;
    margin: 6px 0px;	
}
nav,
.sticky-header
{
    background: #0085ff !important;
}
.header-container
{
	border-top-color:#0085ff !important  
}
.wspp_responsive
{
    max-width: 320px;
    float: right;	
}
.toolbar
{
	margin-top: 15px;
}
.toolbar .pager,
.pager .pages
{
	text-align: center !important;
	float: none !important;
}
.products-grid .item .item-inner .item-info .info-inner
{
    min-height: 160px;
}
@media(max-width:767px)
{
	.mm-toggle,
	.mm-toggle-wrap
	{
		position: relative !important;
	}
	nav .container
	{
		line-height: 0;
	}
	.logo
	{
	    padding-top: 0px; 	
	}
	.promotion-banner img
	{
		height: auto;
		margin-bottom: 15px;
		max-width: 280px !important;
	}
	.product-name h1
	{
		padding: 0px !important;
	}	
}
@media(max-width:991px) and (min-width:767px)
{
	
}
@media(max-width:500px)
{
	.promotion-banner img
	{
		max-width: none !important;
		width: 100%;
	}
	.promotion-banner .last
	{
		padding-left: 15px !important;	
	}
	.header-container
	{
		padding-bottom: 0px !important;
	}
}